#banner {
    margin-top:70px;
  background-image: url("./images/welcome_banner_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  min-height: 500px;
  display: table;
}
#banner .banner_content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#banner .banner_content h1 {
  weight: 700;
  color: white;
  font-size: 3.5em;
  margin: 0;
}
#banner .banner_content p {
  font-size: 1.5em;
  margin: 0 0 1em 0;
  color: rgba(250, 250, 250, 0.7);
}

#testimonial {
  text-align: center;
  font-size: 1.5em;
  color: #afb0b0;
  padding: 3.5em 0;
  position: relative;
}
#testimonial i {
position: absolute;
    left: 43%;
    top: 30px;
    font-size: 8em;
    color: rgba(0,0,0,.03);

}
#testimonial .quote {
  margin: 0 0 .5em 0;
}
#testimonial .name {
  color: #2B2E2E;
  margin: 0;
  font-size: .85em;
}

#callouts {
  background-image: url("./images/callout_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  min-height: 400px;
  display: table;
}
#callouts .callout_inner {
  display: table-cell;
  vertical-align: middle;
}
#callouts .callout {
  text-align: center;
  width: 33.3333%;
  padding: 1.5rem 2.5%;
  float: left;
}
#callouts .callout i {
  font-size: 2.5em;
  color: #2A80B9;
}
#callouts .callout h2 {
  weight: 700;
  color: white;
  margin-bottom: 0;
}
#callouts .callout p {
  color: rgba(250, 250, 250, 0.7);
}

#bottom_cta {
  text-align: center;
  padding: 7.5em 0;
}
#bottom_cta h2 {
  weight: 700;
  color: #2B2E2E;
  font-size: 3em;
  margin: 0;
}
#bottom_cta p {
  font-size: 1.25em;
  margin: 0 0 1em 0;
  color: #a7a8a8;
}

@media screen and (max-width: 600px) {
  #callouts .callout {
    text-align: center;
    width: 100%;
    padding: 1.5em 2.5%;
    float: none;
  }
}
